In [4]:
print('Aakash')

In [1]:
# %pip install pandas

Requirement already satisfied: pandas in c:\users\aakas\data science\machine_learning_aakash\venv\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\aakas\data science\machine_learning_aakash\venv\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\aakas\data science\machine_learning_aakash\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\aakas\data science\machine_learning_aakash\venv\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.20.3 in c:\users\aakas\data science\machine_learning_aakash\venv\lib\site-packages (from pandas) (1.24.4)
Requirement already satisfied: six>=1.5 in c:\users\aakas\data science\machine_learning_aakash\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd 
df = pd.read_csv('./data/stud.csv')
df.head()

,gender,race_ethnicity,parental_level_of_education,lunch,test_preparation_course,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75